@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

html {
    /* scroll-behavior: smooth; */
}

body {
    background-color: white;
    overflow-x: hidden;
}

header {
    padding: 100px 0;
}

header .left-container {
    padding: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
    border-radius: .3rem;
    transform: translateX(-55rem);
    animation: intro-form 1s cubic-bezier(0, .9, .3, 1.2) forwards;
}

@keyframes intro-form {
    0% {
        transform: translateX(-55rem);
    }

    100% {
        transform: none;
    }
}

header .right-container img {
    width: 300px;
    position: fixed;
    top: 30vh;
    right: 5rem;
    transform: scale(.1);
    animation: intro-img 1s cubic-bezier(0, .9, .3, 1.2) forwards;
}

@keyframes intro-img {
    0% {
        transform: scale(.1);
    }

    100% {
        transform: scale(1);
    }
}